# ======================
# ОС и системные файлы
# ======================
.DS_Store
Thumbs.db
*.swp
*.swo

# ======================
# Логи
# ======================
*.log

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# ======================
# IDE / редакторы
# ======================
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.code-workspace

# ======================
# Конфигурационные файлы / секреты
# ======================
.env
.env.local
.env.*.local
*.secret

# ======================
# Airflow
# ======================
airflow.cfg
logs/
unittests.cfg
*.db  # если используется sqlite для dev/test
